<footer>
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-sm-6 footerleft ">
        <app-footer-details></app-footer-details>
      </div>

      <div class="col-md-2 col-sm-6 paddingtop-bottom">
        <app-footer-links></app-footer-links>
      </div>

      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <app-footer-latest></app-footer-latest>
      </div>

      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <app-footer-social></app-footer-social>
      </div>

    </div>
  </div>
</footer>

<app-footer-copyright></app-footer-copyright>
